<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrando</title>
    <link rel="stylesheet" href="../../bootstrap.min.css">
</head>
<body style="overflow-y: hidden;">
    <div class="container-fluid p-3 mb-2 bg-primary text-grey">
        <div class="card " >
            <div class="card-header shadow p-3 mb-3 text-center">
                <h2 class="card-title">Registrando</h2>
            </div>
        <div class="card-body">
            <form class="p-4" id="form">
                <div class="form-group">
                    <input type="text" id="name" class="form-control" placeholder="Nombre" autofocus >
                </div>
                <div class="form-group">
                    <input type="text" id="lastname" class="form-control" placeholder="Apellido">
                </div>
                <div class="form-group">
                    <input type="text" id="identificationcard" class="form-control" placeholder="Cédula">
                </div>
                <div class="form-group">
                    <input type="text" id="adreess" class="form-control" placeholder="Dirección">
                </div>
                <div class="form-group">
                    <input type="text" id="phoneline" class="form-control" placeholder="Teléfono">
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block">GUARDAR</button>
                </div>
            </form>
        </div>
    </div>
    
    
    <style>
        .form-control::-webkit-input-placeholder {
         color: grey;
         font-size: large;
        }
        .form-control{
            color: black;
            font-size: large
        }
    </style>
    <script>var $ = jQuery = require('../../../node_modules/jquery/dist/jquery.min.js');</script>
    <script src="./registrar.js"></script>

</body>
</html>