<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./registrar.css">
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div id="f-r">
        <form id="form">
            <input 
                    type="text" 
                    id="name"  
                    placeholder="Nombre" 
                    autofocus
                    required 
                    oninvalid="setCustomValidity('El campo es obligatorio')"
                    oninput="setCustomValidity('')"
            >
            <input 
                    type="text" 
                    id="lastName" 
                    placeholder="Apellido" 
                    required 
                    oninvalid="setCustomValidity('El campo es obligatorio')"
                    oninput="setCustomValidity('')"
            >
            <input 
                    type="text" 
                    id="identificationCard" 
                    placeholder="Cédula" 
                    required 
                    oninvalid="setCustomValidity('El campo es obligatorio')"
                    oninput="setCustomValidity('')"
            >
            <input 
                    type="text" 
                    id="address" 
                    placeholder="Dirección" 
                    required 
                    oninvalid="setCustomValidity('El campo es obligatorio')"
                    oninput="setCustomValidity('')"
            >
            <input 
                    type="text" 
                    id="phone" 
                    placeholder="Teléfono" 
                    required 
                    oninvalid="setCustomValidity('El campo es obligatorio')"
                    oninput="setCustomValidity('')"
            >
            <button id="save">
                <div id="f-save"></div>
                <span id="guardar"></span>
            </button>
        </form>
    </div>
    <script src="./registrar.js"></script>
    <script>var $ = jQuery = require('../../../node_modules/jquery/dist/jquery.min.js');</script>
</body>
</html>