/*En general*/
.container-fluid{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,9,121,1) 38%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,9,121,1) 38%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,9,121,1) 38%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
.form-control::-webkit-input-placeholder {
    color: grey;
    font-size: x-large;
}
.form-control{
    color: black;
    font-size: x-large
}
.card{   
    background-color: lightgray
}
#ct{
    margin-left: 20px
}
/*edit.html*/
#notas{
    width: 470px;
    height: 350px;
    margin: 0px;
    font-size:x-large
}
#iconos {
    position:relative;
    float:left;
    width:100px;    
    height:auto;
}

#iconos img {
    width:100px;
    float:left;
}
body{
    background: transparent;
}

/*tabla.html*/
#barraDeBusqueda{
    margin-left: 16px
}
#tabla{
    height: 535px;
    width: 1332px;
    display: -webkit-inline-box;
    overflow-y: auto
}
::-webkit-scrollbar {     
    background-color: rgba(0,212,255,1);
    width: .1em
}
::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: rgba(0,212,255,1)
}
thead{
    background: #21263E;
    color: white
}
/*alertifyjs*/
.alertify-notifier .ajs-message.ajs-error{
    color: white;
    background: rgba(255,0,0,0.8);
    border-radius: 20px;
    font-size: x-large;
}
.alertify-notifier .ajs-message.ajs-success{
    color: white;
    background: rgba(0,255,0,0.8);
    border-radius: 20px;
    font-size: x-large;
}
.alertify .ajs-header{
    color: black;
    font-size: x-large;
}
.alertify .ajs-body{
    padding-left: 80px;
    color: black;
    font-size: x-large;
}
.alertify .ajs-dialog{
    width: 425px;
    height: 150px;
}
.alertify .ajs-footer{
    padding-right: 117px;
}